.App {
  background-color: #0d1627;
}

/*
* Scrollbar
*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*
* Login
*/

#login {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-container {
  max-width: 700px;
}

#login form {
  margin-top: 2.5rem;
}

.login-form-group {
  margin-bottom: 1rem;
}

/*
* Chat
*/

#chat {
  min-height: 100vh;
}

.chat-container {
  padding-top: 5vh;
  padding-left: 0;
}

.chat-col {
  background-color: #1d2637;
  border: solid 1px white;
  height: 90vh;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.chat-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.chat-header,
.user-header {
  height: 60px;
  background-color: #9cacca;
  margin: 0;
  vertical-align: middle !important;
}

.chat-header img,
.user-header img {
  height: 45px;
  margin-top: 0.5rem !important;
}

.fa-ellipsis-v {
  font-size: 22px;
  margin-right: 1rem;
  margin-top: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
}

.users-menu {
  transform: translate3d(-160px, 43px, 0px) !important;
}

.find-user-input {
  border-radius: 1px;
}

.users-online {
  background-color: #9cacca;
  font-size: 85%;
  font-style: italic;
  margin: 0em;
  padding-left: 1rem;
  border-top: 1px solid #8c9cba;
}

.read-field {
  overflow-y: scroll;
  background-color: #a89cca;
  position: absolute;
  bottom: 0;
  margin-bottom: 4rem;
  height: 100%;
  width: 100%;
}

.message-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: #dcacca;
  min-height: 4rem;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.message-field form {
  margin-left: 0;
  margin-right: 0;
  
}

.message-field input {
  border-radius: 5px 0 0 5px;
}

.message-field button {
  border-radius: 0 60px 60px 0;
}

.message-field input,
.message-field button {
  margin-top: 0.75rem;
}

.profile-list {
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 90%;
}

.profile-thumb {
  max-width: 45px;
  max-height: 45px;
  margin: 1rem;
  border-radius: 60px;
}

.profile {
  border-bottom: 1px solid grey;
  background-color: rgb(90, 105, 156);
  margin-left: 0;
  margin-right: 0;
}

.profile p {
  margin-top: 1.5rem;
  font-weight: 600;
}

.chat-header p{
  font-weight: 600;
  margin-top: 1rem;
}

.message-date {
  font-style: italic;
}

.out-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.in-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.out-message,
.in-message {
  max-width: 70%;
}

.out-message p {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 15px 0 15px 15px;
  background-color: rgb(223, 233, 252);
}

.in-message p {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0 15px 15px 15px;
  background-color: white;
}

.msg-senda {
  font-weight: 500;
}

.marginy-0 {
  margin-left: 0;
  margin-right: 0;
}

.brick {
  height: 125px !important;
}

/*
* Search
*/
#search-message input[type=search] {
	width: 22px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search-message input[type=search]:hover {
	background-color: #fff;
}
#search-message input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-message input:-moz-placeholder {
	color: transparent;
}
#search-message input::-webkit-input-placeholder {
	color: transparent;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #9cacca url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 11px center;
	border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: rgb(102, 197, 204);
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#search-message{
  margin: 0.6rem 0.5rem 0 1rem;
}

#search-message input {
  height: 24px;
}