.App {
  text-align: center;
}

#login {
  background-color: #0d1627;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-container {
  max-width: 700px;
}

#login form {
  margin-top: 2.5rem;
}

.sign-in-group {
  margin-bottom: 1rem;
}