.App {
  background-color: #0d1627;
}

/*
* Scrollbar
*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*
* Login
*/

#login {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login-container {
  max-width: 700px;
}

#login form {
  margin-top: 2.5rem;
}

.login-form-group {
  margin-bottom: 1rem;
}

/*
* Chat
*/

#chat {
  min-height: 100vh;
}

.chat-container {
  padding-top: 5vh;
  padding-left: 0;
}

.chat-col {
  background-color: #1d2637;
  border: solid 1px white;
  height: 90vh;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.chat-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}

.user-header-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 120px;
  z-index: 2;
}

.chat-header,
.user-header {
  height: 60px;
  background-color: #9cacca;
  margin: 0;
  vertical-align: middle !important;
}

.chat-header img,
.user-header img {
  height: 45px;
  margin-top: 0.5rem !important;
}

.chat-type {
  background-color: #9cacca;
  margin: 0;
  padding: 0;
}

.chat-type p:hover {
  cursor: pointer;
  background-color: #5f77a1bb;
  color: #fff;
  /*border: 1px solid #0000;*/
  transition: ease-in-out;
  transition-duration: .4s;
}

.active-chat {
  background-color: #5f77a1bb;
  color: #fff;
  border: 1px solid #0000 !important;
}

.chat-type p{
  border: 1px solid #7777;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  border-radius: 2px;
  font-weight: 600;
}

.chat-type .fas {
  padding: 5px;
}

.fa-ellipsis-v {
  font-size: 22px;
  margin-right: 1rem;
  margin-top: 1.25rem;
  margin-left: 1rem;
  cursor: pointer;
}

.users-menu {
  transform: translate3d(-160px, 43px, 0px) !important;
}

.profile-menu {
  transform: translate3d(66px, 34px, 0px) !important;
  border-radius: 0 .25rem .25rem .25rem;
}

.users-menu span:hover,
.profile-menu .dropdown-item:hover {
  cursor: pointer;
}

.find-user-input {
  border-radius: 1px;
}

.users-online {
  background-color: #9cacca;
  font-size: 85%;
  font-style: italic;
  margin: 0em;
  padding-left: 1rem;
}

.read-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../img/kaiku-bg.png');
  background-size: 10rem;
  background-repeat: repeat;
}

.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.read-field {
  overflow-y: scroll;
  background-color: #a89ccaf5;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.message-field {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: #dcacca;
  min-height: 4rem;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

.message-field form {
  margin-left: 0;
  margin-right: 0;
  
}

.message-field input {
  border-radius: 5px 0 0 5px;
}

.message-field button {
  border-radius: 0 60px 60px 0;
}

.message-field input,
.message-field button {
  margin-top: 0.75rem;
}

.profile-list {
  overflow-y: scroll;
  overflow-x: hidden !important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile-container {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 160px;
  z-index: 0;
}

.profile-thumb {
  max-width: 45px;
  max-height: 45px;
  margin: 1rem;
  border-radius: 60px;
}

.alpha-1 {
  opacity: .75;
}

.profile {
  border-bottom: 1px solid grey;
  background-color: rgb(90, 105, 156);
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.profile p {
  margin-top: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.profile span {
  font-style: italic;
}

.profile-menu .text-sm {
  font-style: italic;
  margin: 0 1.5rem;
}

.text-sm {
  font-size: smaller;
}

.pos-rel {
  position: relative;
}

.bg-navy {
  background-color: navy;
}

.chat-header p{
  font-weight: 600;
  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

.message-date {
  font-style: italic;
}

.out-container {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.in-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem;
}

.out-message,
.in-message {
  max-width: 70%;
}

.in-message p,
.out-message p {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.out-message p {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 15px 0 15px 15px;
  background-color: rgb(223, 233, 252);
}

.in-message p {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 0 15px 15px 15px;
  background-color: white;
}

.default-message-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.default-message p {
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}

.default-message p {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(223, 233, 252);
}

.msg-senda {
  font-weight: 500;
}

.marginy-0 {
  margin-left: 0;
  margin-right: 0;
}

.brick {
  height: 125px !important;
}

/*
* Search
*/
#search-message input[type=search] {
	width: 22px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#search-message input[type=search]:hover {
	background-color: #fff;
}
#search-message input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-message input:-moz-placeholder {
	color: transparent;
}
#search-message input::-webkit-input-placeholder {
	color: transparent;
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #9cacca url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 11px center;
	border: none;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: rgb(102, 197, 204);
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

#search-message{
  margin: 0.6rem 0.5rem 0 1rem;
}

#search-message input {
  height: 24px;
}

/*
* User themes
*'red', 'navy', 'orange', 'blue', 'green', 'amber', 'turqoise', 'dark', 'pink', 'brown'
*/
.red {
  background-color: orangered;
  color: orangered;
}

.navy {
  background-color: navy;
  color: navy;
}

.orange {
  background-color: orange;
  color: orange;
}

.blue {
  background-color: rgb(0, 132, 255);
  color: rgb(0, 132, 255);
}

.green {
  background-color: green;
  color: green;
}

.amber {
  background-color: rgb(184, 184, 0);
  color: rgb(184, 184, 0);
}

.turqoise {
  background-color: turquoise;
  color: turquoise;
}

.dark {
  background-color: #555;
  color: #555;
}

.pink {
  background-color: palevioletred;
  color: palevioletred;
}

.brown {
  background-color: brown;
  color: brown;
}

.bg-none {
  background-color: #fff0;
}

/*
*Profile page
*
*/

.profile-page-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #9cacca;
  color: white;
  display: flex;
  z-index: 10;
}

.profile-page {
  align-content: center;
  width: 320px;
  margin: auto;
}

.upload-container {
  background-color: #000000df;
  position: absolute;
  width: 100%;
  height: 100%;
}

.upload-form {
  margin: auto;
  background-color: #f1f1f1;
  height: 150px;
  width: 400px;
  color: #000;
  border-radius: 2px;
  text-align: center;
  padding-top: 45px;
  margin-top: 200px;
}

.upload-form input {
  height: 32px;
}

.profile-page-thumb {
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 90px;
  overflow: hidden;
}

.profile-image-container {
  height: 150px;
  width: 150px;
  margin: auto;
}

.profile-image-container div {
  min-height: 150px;
  position: relative;
}

.profile-image-container img {
  position: absolute;
}

.profile-image-container span {
  position: absolute;
  bottom: 0;
  left: 100px;
  font-size: 14px;
  background-color: #777;
  padding: 15px 17px;
  border-radius: 90px;
  transition: ease-in-out .3s;
}

.profile-image-container span:hover {
  transform: scale(1.1);
  background-color: #444;
  transition: ease-in-out .5s;
}

.exit-profile {
  font-size: 20px;
  background-color: rgb(168, 70, 70);
  padding: 10px 17px;
  border-radius: 90px;
}

.exit-profile:hover{
  font-size: 20px;
  background-color: rgb(212, 37, 37);
  padding: 10px 17px;
  border-radius: 90px;
  transition: ease-in-out;
  transition-duration: .4s;
  
}

.exit-profile-group {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.exit-profile-group p {
  font-weight: 600;
  color: #000;
}

.profile-update-form * {
  margin-top: 0.5rem;
}

.profile-update-form div {
  margin: 0;
  padding: 0;
}

.profile-page-heading {
  color: #000;
  font-weight: 700;
}

.profile-page-heading h2 {
  margin: 0;
}

#dashboard {
  background-color: white;
  min-height: 100vh;
}

#side-nav {
  min-height: 100vh;
}

.cursor-def {
  cursor: default;
}

.nav-link {
  cursor: pointer;
}

.font-2 {
  font-size: 20px;
}

.font-3 {
  font-size: 24px;
}

#new-group .fa-times:hover,
.h-red:hover {
  color: rgb(175, 29, 29);
}

.user-role {
  padding: 3px;
}

.link {
  cursor: pointer;
  color: rgb(47, 137, 255);
}

.link:hover {
  color: rgb(47, 61, 255);
  text-decoration: underline;
}

/*
* Help
*/

.help-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 1rem;
  padding-right: .75rem;
  text-align: center;
}

.fa-question {
  background-color: rgb(47, 137, 255);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 4px 4px 5px rgba(0,0,0,0.25);
  border-radius: 60px;
  width: 72px;
  padding: 10px;
  border: 1px solid rgb(79, 155, 255);
  font-size: 50px;
  cursor: pointer;
  transition-duration: .8s;
}

.fa-question:hover {
  background-color: rgb(79, 155, 255);
  color: rgba(255, 255, 255);
  transform: scale(1.1);
  transition-duration: .8s;
}

.fa-question:active {
  background-color: rgb(47, 61, 255);
  color: rgba(255, 255, 255, .75);
  transform: scale(1.1);
  transition-duration: .3s;
}

.help-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: #0008;
}

@media only screen and (max-width: 640px) {
  .modal-container,
  .help-button-container {
    margin-left: -200px !important;
    width: 400px !important;
  }
}
.modal-container,
.help-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -150px;
  height: 300px;
  width: 600px;
  padding: 1rem;
}

.modal-container {
  z-index: 110;
  background-color: white;
  border-radius: 2px;
  padding-bottom: 54px;
}

.help-button-container {
  z-index: 120;
}

.help-button-group {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  right: 0;
}

.exit-button {
  position: absolute;
  margin-top: .5rem;
  margin-right: 1rem;
  top: 0;
  right: 0;
  opacity: .8;
  cursor: pointer;
}

.exit-button:hover {
  opacity: 1;
}

.help-nxt{
  border-radius: 0 3px 3px 0;
  border-left: 0;
}
.help-pre {
  border-radius: 3px 0 0 3px;
}